/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}